<mat-toolbar color="primary">
    <a routerLink="/" class="brand">
      <mat-icon>account_balance</mat-icon>
      <span>Bank Credit System</span>
    </a>
  
    <span class="spacer"></span>
  
    <!-- Desktop Navigation -->
    <div class="nav-links">
      <a 
        *ngFor="let item of navItems"
        mat-button
        [routerLink]="item.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: false}"
      >
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.label}}
      </a>
    </div>
  
    <!-- Mobile Menu -->
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="mobile-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <button 
        *ngFor="let item of navItems"
        mat-menu-item
        [routerLink]="item.path"
        routerLinkActive="active-mobile-link"
      >
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </button>
    </mat-menu>
  </mat-toolbar>